$task-top-chart-gold-url: get-resource-path('images/gold.png');
$task-top-chart-silver-url: get-resource-path('images/silver.png');
$task-top-chart-bronze-url: get-resource-path('images/bronze.png');
$task-top-chart-noRank-url: get-resource-path('images/noRank.png');
$task-top-chart-noData-url: get-resource-path('images/noData.png');