//# fashion warn -elevation

// Variables
// --------------------------

$i-common-font-size-base:   14px !default;
$i-common-css-prefix:       i-common !default;
$i-common-version:          "1.0.8" !default;

$i-common-var-image: "\e905";
$i-common-var-tg: "\e906";
$i-common-var-number: "\e907";
$i-common-var-thumbnail: "\e908";
$i-common-var-list: "\e909";
$i-common-var-add: "\e90a";
$i-common-var-minus: "\e90b";
$i-common-var-tree-collapse: "\e90c";
$i-common-var-tree-expand: "\e90d";
$i-common-var-todoc: "\e90e";
$i-common-var-cross: "\e90f";
$i-common-var-priority-one: "\e902";
$i-common-var-priority-two: "\e904";
$i-common-var-priority-three: "\e903";
$i-common-var-finish: "\e900";
$i-common-var-return: "\e901";
$i-common-var-undo: "\e967";
$i-common-var-hide: "\e60d";