//# fashion warn -elevation

// Variables
// --------------------------

$i-common-font-size-base:   14px !default;
$i-common-css-prefix:       i-common !default;
$i-common-version:          "1.0.8" !default;

$i-common-var-image: "\e900";
$i-common-var-tg: "\e901";
$i-common-var-number: "\e902";
$i-common-var-thumbnail: "\e903";
$i-common-var-list: "\e904";
$i-common-var-add: "\e905";
$i-common-var-minus: "\e906";
$i-common-var-tree-collapse: "\e907";
$i-common-var-tree-expand: "\e908";
$i-common-var-todoc: "\e909";
$i-common-var-cross: "\e90a";