/*
 *  This file can be used to set variables and supply global styling.  View specific 
 *  styling should be located the view's corresponding scss file.
 */
$enable-font-awesome: dynamic(true);

@include keyframes(rotate-animation) {
    0% { @include rotate(0); }
    100% { @include rotate(360); }
}

html, body {
    height: 100%;
    margin: 0;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
}
body.launching {
    @include background-size(cover);
    background-color: $auth-background-color;
    background-image: $auth-background-image;
    background-position: center;

    &::before {
        @include animation(rotate-animation 1s linear infinite);
        @include transform-origin(50% 50%);
        @include background-size(cover);
        background-image: url(get-resource-path('images/loading.png'));
        background-position: center;
        content: '';
        position: absolute;
        margin-top: -15px;
        margin-left: -15px;
        top: 50%;
        left: 50%;
        width: 41px;
        height: 41px;
    }
}
// block management
.page-constrained {
    $blocks-max-width:dynamic(1024px);
    > .x-body-el,
    > .x-innerhtml,
    > .x-dock-horizontal {
        max-width: $blocks-max-width;
        margin: 0 auto;
        width: 100%;
    }
}

.blocks {
    $blocks-spacing: dynamic(8px);
    padding: $blocks-spacing 0 0 $blocks-spacing;

    .x-panel-block {
        margin: 0 $blocks-spacing $blocks-spacing 0;
    }

    .tablet-profile & {
        > .x-body-el {
            display: flex;
            flex-direction: row;

            > .blocks-column:nth-child(1) {
                flex: 2;
            }

            > .blocks-column:nth-child(2) {
                flex: 1;

                @media screen and (max-width: 800px) {
                    flex: 2;
                }
            }

            @media screen and (max-width: 600px) {
                flex-direction: column;
            }
        }
    }
}

.block-section {
    display: inline-block;
    vertical-align: top;
    line-height: 1.4;

    .item {
        padding: 0 16px 16px;

        .label {
            color: contrasted($base-color, 15%);
            font-size: 14px;
            text-transform: uppercase;
        }

        .value {
            font-weight: 500;
        }
    }
}



scrollbar{
    -moz-appearance: none !important;
    background-color: transparent !important;/* 滚动条背景透明 */
    background-image: none !important; /* 滚动条背景图案不显示 */
    position: relative !important; /* 更改滚动条的定位方式为相对 */
    overflow: hidden !important;
    z-index: 999999999 !important; /* 把滚动条提到Z轴最上层 */
}

/* 滚动条按钮基本样式 */
scrollbar thumb{
    -moz-appearance: none !important;
    background-color: rgba(0,100,255,.25) !important;
    border-radius: 0px !important;
    border: 1px !important; /* 滚动条按钮边框 */
    border-color: rgba(0,100,255,.1) !important;  /* 滚动条按钮边框颜色和透明度 */
}

/* 滚动条按钮:鼠标悬停与点击拖动时基本样式 */
scrollbar:hover thumb,
scrollbar thumb:hover,
scrollbar thumb:active {
    background-color: rgba(0,100,255,.75) !important;
    border: 0px !important;
}

/* 垂直滚动条 */
/* 把滚动条位置移到屏幕外，这里的像素应该等于垂直滚动条宽度的负值 */
scrollbar[orient="vertical"]{ 
    margin-left: -5px !important; 
    min-width: 5px !important; max-width: 5px !important;
}

/* 垂直滚动条按钮的左边框样式 */
scrollbar thumb[orient="vertical"]{
    border-style: none none none solid !important; 
}

/* 水平滚动条 */
/* 把滚动条位置移到屏幕外，这里的像素应该等于垂直滚动条宽度的负值 */
scrollbar[orient="horizontal"]{ margin-top: -5px !important; 
    min-height: 5px !important; max-height: 5px !important;
}

/* 水平滚动条按钮的上边框样式 */
scrollbar thumb[orient="horizontal"]{
    border-style: solid none none none !important; 
}

/* 去除垂直与水平滚动条相交汇的角落 */
scrollbar scrollcorner{
    display: none ! important; 
}

/* 滚动条两端按钮不显示 */
scrollbar scrollbarbutton { 
    display: none ! important; 
}
